.vis-item.vis-point .vis-item-content {
  color: black !important;
}

.vis-timeline .vis-item.vis-box,
.vis-timeline .vis-item.vis-range {
  color: white;
}

.vis-timeline .vis-item.vis-box .vis-item-content,
.vis-timeline .vis-item.vis-range .vis-item-content {
  color: white;
}

.vis-timeline .vis-item a {
  color: inherit;
  text-decoration: none;
}

.vis-custom-time.ml {
  background-color: #ff0000;
  width: 3px;
}

.vis-item.norm {
  background-color: khaki;
  border-color: khaki;
}
.vis-item.gulag {
  background-color: #721c24;
  border-color: #721c24;
}

.vis-item.zirya {
  background-color: #d9383a;
  border-color: #d9383a;
}

.vis-item.ocean {
  background-color: #007fff;
  border-color: #007fff;
}

.vis-item.luna {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.vis-item.f {
  background-color: #00ff88;
  border-color: #00ff88;
}

.vis-item.wrath {
  background-color: black;
  border-color: black;
}
.vis-item.tvg {
  background-color: darkgreen;
  border-color: darkgreen;
}