.vis-item.vis-point .vis-item-content {
  color: black !important;
} /* black text for points and bg */

.vis-timeline .vis-item.vis-box,
.vis-timeline .vis-item.vis-range {
  color: white;
}

.vis-timeline .vis-item.vis-box .vis-item-content,
.vis-timeline .vis-item.vis-range .vis-item-content {
  color: white;
} /* white text for boxes */

.vis-timeline .vis-item.vis-background {
  pointer-events: auto !important;
} 

.vis-timeline .vis-item.vis-background .vis-item-content {
  width: 100%;
  height: 100%;
  padding: 0;
} /* bg hovering */

.vis-timeline .vis-item a {
  color: inherit;
  text-decoration: none;
} /* so that hyperlinks look normal */

.vis-item.norm {
  background-color: gold;
  border-color: gold;
} /* color for less important events, maybe for all non-colored events? */

/* era colors */
.vis-item.vis-background.gold {
  background-color: rgba(255, 217, 0, 0.5);
}

.vis-item.vis-background.cool {
  background-color: rgba(65, 105, 225, 0.4);
}

.vis-item.vis-background.moon {
  background-color: rgba(128, 0, 128, 0.5);
}

.vis-item.vis-background.silent {
  background-color: rgba(128, 128, 128, 0.5);
}

.vis-item.vis-background.chaos {
  background-color: rgba(172, 255, 47, 0.4);
}

.vis-item.vis-background.tuk {
  background-color: rgba(0, 128, 0, 0.33);
}

.vis-item.vis-background.dead {
  background-color: rgba(0, 0, 0, 0.75);
}

/* group colors: border-color for points, background-color for boxes */
.vis-item.gulag {
  background-color: #721c24;
  border-color: #721c24;
}

.vis-item.zirya {
  background-color: #d9383a;
  border-color: #d9383a;
}

.vis-item.ocean {
  background-color: #007fff;
  border-color: #007fff;
}

.vis-item.luna {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.vis-item.f {
  background-color: #00ff88;
  border-color: #00ff88;
}

.vis-item.wrath {
  background-color: black;
  border-color: black;
}

.vis-item.fry {
  background-color: silver;
  border-color: silver;
}

.vis-item.tvg {
  background-color: darkgreen;
  border-color: darkgreen;
}

.vis-item.cat {
  background-color: gray;
  border-color: gray;
}

.vis-item.nomads {
  background-color: black;
  border-color: black;
}

/* specific to point events */
.vis-item.grief .vis-dot {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-radius: 0;
} /* griefs or otherwise destructive events */

.vis-item.ob .vis-dot {
  border-radius: 0;
} /* builds or other important contributions */

.vis-item.bd {
  background-color: hotpink;
  border-color: hotpink;
} /* special for birthday events */